@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    scroll-behavior: smooth;
    
}
section {
    height: 100%;
    /* display: flex; */
    padding: 12%;
    font-size: 1.2em;
    color: white;
    text-align: center;
}

p{
    font-family: "Titillium Web", sans-serif;
}
.section1 { 
    background-image: url('../image/satelite.png');
    background-repeat: no-repeat; /* Garante que a imagem não seja repetida */
    background-position: center center; /* Centraliza a imagem horizontal e verticalmente */
    background-attachment: fixed; /* Mantém a imagem fixa enquanto a página é rolada */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 120vh; /* Ajusta a altura conforme necessário */
    justify-content: space-between;
    display: flex;
    
    
}
.section2 { background: #b3ca7c; }
.section3 { 
    background-image: url('../image/rastreador-veicular.59d823f4c0f43be3495c.jpg');
    background-repeat: no-repeat; /* Garante que a imagem não seja repetida */
    background-position: center center; /* Centraliza a imagem horizontal e verticalmente */
    background-attachment: fixed; /* Mantém a imagem fixa enquanto a página é rolada */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 180vh; /* Ajusta a altura conforme necessário */
    color:#000;
}
.section3 .Carros_content_box {
    display: flex;
    justify-content: space-between;
    margin: 1em;
}
.section3 .Carros_box {
    border: 2px solid #f30f0f;
    border-radius: 1em;
    box-shadow: 10px 10px 10px #ccc;
    padding: 1em;
    text-align: center;
    background-color: #fff;
}

.section3 .whatsapp{
    width: 80%;
   background-color:  rgba(255, 255, 255, 0.5);
   border-radius:2em;
   margin: 0 auto;
   padding: 2em;
}
.section4 { 
    background-image: url('../image/rastreador-moto.cd41f133d880396ed400.jpg');
    background-repeat: no-repeat; /* Garante que a imagem não seja repetida */
    background-position: center center; /* Centraliza a imagem horizontal e verticalmente */
    background-attachment: fixed; /* Mantém a imagem fixa enquanto a página é rolada */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 180vh; /* Ajusta a altura conforme necessário */
    color: #000;

 }
 .section4 .Carros_content_box {
    display: flex;
    justify-content: space-between;
    margin: 1em;
}
.section4 .Carros_box {
    border: 2px solid #f30f0f;
    border-radius: 1em;
    box-shadow: 10px 10px 10px #ccc;
    padding: 1em;
    text-align: center;
    background-color: #fff;
}

.section4 .whatsapp{
    width: 80%;
   background-color:  rgba(255, 255, 255, 0.5);
   border-radius:2em;
   margin: 0 auto;
   padding: 2em;
}
.section5 { 
    background-image: url('../image/rastreador-utilitarios.jog.jpg');
    background-repeat: no-repeat; /* Garante que a imagem não seja repetida */
    background-position: center center; /* Centraliza a imagem horizontal e verticalmente */
    background-attachment: fixed; /* Mantém a imagem fixa enquanto a página é rolada */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 200vh; /* Ajusta a altura conforme necessário */
    /* justify-content: space-between;
    display: flex; */
    color:#000;
}
.section5 .Carros_content_box {
    display: flex;
    justify-content: space-between;
    margin: 1em;
}
.section5 .Carros_box {
    border: 2px solid #f30f0f;
    border-radius: 1em;
    box-shadow: 10px 10px 10px #ccc;
    padding: 1em;
    text-align: center;
    background-color: #000000;
}

.section5 .whatsapp{
    width: 80%;
   background-color:  rgba(255, 255, 255, 0.5);
   border-radius:2em;
   margin: 0 auto;
   padding: 2em;
}
.section6 {  
    background-image: url('../image/rastreador-caminhao.c4176ce16ef30bd8ae9c.jpg');
    background-repeat: no-repeat; /* Garante que a imagem não seja repetida */
    background-position: center center; /* Centraliza a imagem horizontal e verticalmente */
    background-attachment: fixed; /* Mantém a imagem fixa enquanto a página é rolada */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 180vh; 
    color:#000;/* Ajusta a altura conforme necessário */
    /* justify-content: space-between;
    display: flex; } */
}
.section6 .Carros_content_box {
    display: flex;
    justify-content: space-between;
    margin: 1em;
}
.section6 .Carros_box {
    border: 2px solid #f30f0f;
    border-radius: 1em;
    box-shadow: 10px 10px 10px #ccc;
    padding: 1em;
    text-align: center;
    background-color: #000000;
}

.section6 .whatsapp{
    width: 80%;
   background-color:  rgba(255, 255, 255, 0.5);
   border-radius:2em;
   margin: 0 auto;
   padding: 2em;
}
.section7 { 
    background-image: url('../image/rastreador-frotas.698e332689797c7e400d.jpg');
    background-repeat: no-repeat; /* Garante que a imagem não seja repetida */
    background-position: center center; /* Centraliza a imagem horizontal e verticalmente */
    background-attachment: fixed; /* Mantém a imagem fixa enquanto a página é rolada */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 180vh; /* Ajusta a altura conforme necessário */
    /* justify-content: space-between;
    display: flex; */
 }
 .section7 .Carros_content_box {
    display: flex;
    justify-content: space-between;
    margin: 1em;
}
.section7 .Carros_box {
    border: 2px solid #f30f0f;
    border-radius: 1em;
    box-shadow: 10px 10px 10px #ccc;
    padding: 1em;
    text-align: center;
    background-color: #000000;
}

.section7 .whatsapp{
    width: 80%;
   background-color:  rgba(255, 255, 255, 0.5);
   border-radius:2em;
   margin: 0 auto;
   padding: 2em;
}
.section8 { background: #86f0e7; height: auto; color:#000;}
.section9 {
    background-image: url('../image/contato.aaf18a87127ae4b89cbd.jpg');
    background-repeat: no-repeat; /* Garante que a imagem não seja repetida */
    background-position: center center; /* Centraliza a imagem horizontal e verticalmente */
    background-attachment: fixed; /* Mantém a imagem fixa enquanto a página é rolada */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 180vh; 
    color:#000;
}
.section9 .Carros_content_box {
    display: flex;
    justify-content: space-between;
    margin: 1em;
}
.section9 .Carros_box {
    border: 2px solid #f30f0f;
    border-radius: 1em;
    box-shadow: 10px 10px 10px #ccc;
    padding: 1em;
    text-align: center;
    background-color: #000000;
    color:#000;
}

.section10 { background: #ffffff; color:#000;}


/* ## Section 1 */
.section1 .box{
    width: 60%;
    height: auto;
    padding: 25px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius:15px;
    color:#000;
}

.section1 .box h1{
   text-align: left;
   color:#fff;
}
.section1 .box p{
   text-align: left;
   color:#fff;
   font-size: 1em;
}

.section1 .box2{
    width: 30%;
    height: 300px;
    padding: 25px;
    background-color: rgba(255, 196, 1, 0.8);
    border-radius:15px;
    color:#000;
}
.section1 .box2 h2{
    background: #fff;
    opacity: 0.8;
    padding: 10px;
    border-radius:20px;
}

/* ##Section 3 */
.section3 .Carros_content_box {
    display: flex;
    justify-content: space-between;
    margin: 1em;
}
.section3 .Carrosbox {
    border: 2px solid #c5c5c5;
    border-radius: 1em;
    padding: 1em;
    margin: 1em;
    text-align: center;
    background-color:  rgba(255, 255, 255, 0.5);
    
}
/* ##Section 4 */
.section4 .Carros_content_box {
    display: flex;
    justify-content: space-between;
    margin: 1em;
    color:#000;
}
.section4 .Carrosbox {
    border: 2px solid #c5c5c5;
    border-radius: 1em;
    padding: 1em;
    margin: 1em;
    text-align: center;
    background-color:  rgba(255, 255, 255, 0.5);
    color:#000000;
    
}
/* ##Section 4 */
.section5 .Carros_content_box {
    display: flex;
    justify-content: space-between;
    margin: 1em;
    color:#000;
}
.section5 .Carrosbox {
    border: 2px solid #c5c5c5;
    border-radius: 1em;
    padding: 1em;
    margin: 1em;
    text-align: center;
    background-color:  rgba(255, 255, 255, 0.5);
    color:#000000;
    
}
/* ##Section 6 */
.section6 .Carros_content_box {
    display: flex;
    justify-content: space-between;
    margin: 1em;
    color:#000;
}
.section6 .Carrosbox {
    border: 2px solid #c5c5c5;
    border-radius: 1em;
    padding: 1em;
    margin: 1em;
    text-align: center;
    background-color:  rgba(255, 255, 255, 0.5);
    color:#000000;
    
}


/* ##Section 7 */
.section7 .Carros_content_box {
    display: flex;
    justify-content: space-between;
    margin: 1em;
    color:#000;
}
.section7 .Carrosbox {
    border: 2px solid #c5c5c5;
    border-radius: 1em;
    padding: 1em;
    margin: 1em;
    text-align: center;
    background-color:  rgba(255, 255, 255, 0.5);
    color:#000000;
    
}

.botao-office{
    border:3px solid #fff;
    background-color: transparent;
    padding: 5px;
    border-radius:10px;
}

.botao-office:hover{
    border:3px solid #fff;
    padding: 5px;
    color:#fff;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
   padding: 0px 10px;
    border-radius:50%;
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 0;
    right: 0;
    margin-right: 10px;;
    margin-bottom: 10px;;
}

.seta-para-cima {
    color: white;
    font-size: 2rem;
    text-decoration: none;
    display: inline-block;
    margin-top: 0px;
    transition: color 0.3s;
}

.seta-para-cima:hover {
    color: #ccc;
}


.form-signin {
    max-width: 330px;
    padding: 1rem;
  }
  
  .form-signin .form-floating:focus-within {
    z-index: 2;
  }
  
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  

/* Pequenos dispositivos (celulares) */
@media (max-width: 906px) {

    .section1 { 
        background-image: url('../image/satelite.png');
        background-repeat: no-repeat; /* Garante que a imagem não seja repetida */
        background-position: center center; /* Centraliza a imagem horizontal e verticalmente */
        background-attachment: fixed; /* Mantém a imagem fixa enquanto a página é rolada */
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 200vh; /* Ajusta a altura conforme necessário */
        /* justify-content: space-between;*/
        display: block; 
        
        
    }
   
    .section1 .box{
        width: 100%;
        height: auto;
        padding: 25px;
        padding-top: 30px;;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius:15px;
        color:#000;
    }
    
    .section1 .box h1{
       text-align: left;
       color:#fff;
    }
    .section1 .box p{
       text-align: left;
       color:#fff;
       font-size: 1em;
    }
    
    .section1 .box2{
        width: 100%;
        height: 300px;
        padding: 25px;
        margin-top: 20px;
        background-color: rgba(255, 196, 1, 0.8);
        border-radius:15px;
        color:#000;
    }
    .section1 .box2 h2{
        background: #fff;
        opacity: 0.8;
        padding: 10px;
        border-radius:20px;
    }

    .section3 { 
        background-image: url('../image/rastreador-veicular.59d823f4c0f43be3495c.jpg');
        background-repeat: no-repeat; /* Garante que a imagem não seja repetida */
        background-position: center center; /* Centraliza a imagem horizontal e verticalmente */
        background-attachment: fixed; /* Mantém a imagem fixa enquanto a página é rolada */
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 400vh; /* Ajusta a altura conforme necessário */
        color:#000;
    }
    .section3 .Carros_content_box {
        display: block;
        margin: 1em;
    }
    .section3 .Carrosbox {
        border: 2px solid #eeeeee;
        border-radius: 1em;
        box-shadow: 10px 10px 10px #ccc;
        padding: 1em;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.5);
    }

     .section3 { 
        background-image: url('../image/rastreador-veicular.59d823f4c0f43be3495c.jpg');
        background-repeat: no-repeat; /* Garante que a imagem não seja repetida */
        background-position: center center; /* Centraliza a imagem horizontal e verticalmente */
        background-attachment: fixed; /* Mantém a imagem fixa enquanto a página é rolada */
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 400vh; /* Ajusta a altura conforme necessário */
        color:#000;
    }
    .section3 .Carros_content_box {
        display: block;
        margin: 1em;
    }
    .section3 .Carrosbox {
        border: 2px solid #eeeeee;
        border-radius: 1em;
        box-shadow: 10px 10px 10px #ccc;
        padding: 1em;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.5);
    }

    .section4 .Carros_content_box {
        display: block;
       
        margin: 1em;
        color:#000;
    }
    .section4 .Carrosbox {
        border: 2px solid #c5c5c5;
        border-radius: 1em;
        padding: 1em;
        margin: 1em;
        text-align: center;
        background-color:  rgba(255, 255, 255, 0.5);
        color:#000000;
        
    }
    .section4 { 
        background-image: url('../image/rastreador-moto.cd41f133d880396ed400.jpg');
        background-repeat: no-repeat; /* Garante que a imagem não seja repetida */
        background-position: center center; /* Centraliza a imagem horizontal e verticalmente */
        background-attachment: fixed; /* Mantém a imagem fixa enquanto a página é rolada */
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 400vh; /* Ajusta a altura conforme necessário */
        color: #000;
    
     }

     .section5 { 
        background-image: url('../image/rastreador-frotas.698e332689797c7e400d.jpg');
        background-repeat: no-repeat; /* Garante que a imagem não seja repetida */
        background-position: center center; /* Centraliza a imagem horizontal e verticalmente */
        background-attachment: fixed; /* Mantém a imagem fixa enquanto a página é rolada */
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 300vh; /* Ajusta a altura conforme necessário */
        /* justify-content: space-between;
        display: flex; */
    }
    .section5 .Carros_content_box {
        display: block;

        margin: 1em;
    }
    .section5 .Carros_box {
        border: 2px solid #f30f0f;
        border-radius: 1em;
        box-shadow: 10px 10px 10px #ccc;
        padding: 1em;
        text-align: center;
        background-color: #fff;
    }
    
    .section5 .whatsapp{
        width: 80%;
       background-color:  rgba(255, 255, 255, 0.5);
       border-radius:2em;
       margin: 0 auto;
       padding: 2em;
    }
    .section6 {  
        background-image: url('../image/rastreador-caminhao.c4176ce16ef30bd8ae9c.jpg');
        background-repeat: no-repeat; /* Garante que a imagem não seja repetida */
        background-position: center center; /* Centraliza a imagem horizontal e verticalmente */
        background-attachment: fixed; /* Mantém a imagem fixa enquanto a página é rolada */
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 300vh; 
        color:#000;/* Ajusta a altura conforme necessário */
        /* justify-content: space-between;
        display: flex; } */
    }
    .section6 .Carros_content_box {
        display: block;
        margin: 1em;
    }
    .section6 .Carros_box {
        border: 2px solid #f30f0f;
        border-radius: 1em;
        box-shadow: 10px 10px 10px #ccc;
        padding: 1em;
        text-align: center;
        background-color: #fff;
    }
    
    .section6 .whatsapp{
        width: 80%;
       background-color:  rgba(255, 255, 255, 0.5);
       border-radius:2em;
       margin: 0 auto;
       padding: 2em;
    }

    .section7 { 
        background-image: url('../image/rastreador-frotas.698e332689797c7e400d.jpg');
        background-repeat: no-repeat; /* Garante que a imagem não seja repetida */
        background-position: center center; /* Centraliza a imagem horizontal e verticalmente */
        background-attachment: fixed; /* Mantém a imagem fixa enquanto a página é rolada */
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 300vh; /* Ajusta a altura conforme necessário */
        /* justify-content: space-between;
        display: flex; */
     }
    
     .section7 .Carros_content_box {
        display: block;
        margin: 1em;
    }
    .section7 .Carros_box {
        border: 2px solid #f30f0f;
        border-radius: 1em;
        box-shadow: 10px 10px 10px #ccc;
        padding: 1em;
        text-align: center;
        background-color: #fff;
    }
    
    .section7 .whatsapp{
        width: 80%;
       background-color:  rgba(255, 255, 255, 0.5);
       border-radius:2em;
       margin: 0 auto;
       padding: 2em;
    }



    .section9 { 
        background-image: url('../image/contato.aaf18a87127ae4b89cbd.jpg');
        background-repeat: no-repeat; /* Garante que a imagem não seja repetida */
        background-position: center center; /* Centraliza a imagem horizontal e verticalmente */
        background-attachment: fixed; /* Mantém a imagem fixa enquanto a página é rolada */
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 300vh; /* Ajusta a altura conforme necessário */
        /* justify-content: space-between;
        display: flex; */
     }
    
     .section9 .Carros_content_box {
        display: block;
        margin: 1em;
    }
    .section9 .Carros_box {
        border: 2px solid #f30f0f;
        border-radius: 1em;
        box-shadow: 10px 10px 10px #ccc;
        padding: 1em;
        text-align: center;
        background-color: #fff;
    }
    
    .section9 .whatsapp{
        width: 80%;
       background-color:  rgba(255, 255, 255, 0.5);
       border-radius:2em;
       margin: 0 auto;
       padding: 2em;
    }
}

